Repository j03y14/flagtag-games, pull requests merged in 2021-02, with the labels that each got.

#8 Signin/카카오 로그인 api 작성
  backend/.env.template
  backend/.eslintrc.js
  backend/jsconfig.json
  backend/package-lock.json
  backend/package.json
  backend/src/apis/kakaoLogin.js
  backend/src/app.js
  backend/src/constants/status.js
  backend/src/routes/index.js
  backend/src/routes/user/controller.js
  backend/src/routes/user/index.js
  backend/src/services/socialLogin/index.js
  backend/src/services/socialLogin/kakao.js
Labels: BACKEND, feature

#7 Signin/form
  backend/src/app.js
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/apis/auth.js
  frontend/src/components/reusable/header.jsx
  frontend/src/components/signin/AuthCallback.jsx
  frontend/src/components/signin/Signin.jsx
  frontend/src/index.jsx
  frontend/src/pages/SinginPage.jsx
  frontend/webpack.config.js
Labels: FRONTEND

#9 소셜 로그인 token 만들기
  backend/src/constants/status.js
  backend/src/routes/user/controller.js
  backend/src/services/socialLogin/index.js
  backend/src/services/socialLogin/kakao.js
  backend/src/services/socialLogin/token.js
Labels: BACKEND, feature

#12 Mainpage/form
  frontend/assets/icons/add.svg
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/main/CreateGame.jsx
  frontend/src/components/main/Main.jsx
  frontend/src/components/main/PrivateGameEnter.jsx
  frontend/src/components/main/PublicGameSearch.jsx
  frontend/src/components/reusable/ColumnCenterDiv.jsx
  frontend/src/components/reusable/Header.jsx
  frontend/src/components/reusable/SmallTitle.jsx
  frontend/src/pages/MainPage.jsx
  frontend/webpack.config.js
Labels: FRONTEND

#15 Signin/form 구글 로그인 code 받아오기
  frontend/src/components/reusable/SignInButton.jsx
  frontend/src/components/signin/GoogleSignInButton.jsx
  frontend/src/components/signin/KakaoSignInButton.jsx
  frontend/src/components/signin/Signin.jsx
Labels: FRONTEND

#16 소셜 로그인시 사용자 등록/조회 후 유저정보 전달
  backend/src/services/socialLogin/google.js
  backend/src/services/socialLogin/kakao.js
Labels: BACKEND

#20 Game type/db
  backend/src/app.js
  backend/src/constants/status.js
  backend/src/models/gameType.js
  backend/src/repositories/gameType.js
Labels: BACKEND

#24 게임 선택 페이지
  frontend/.babelrc
  frontend/.eslintrc.js
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/apis/gameType.js
  frontend/src/components/GameSelection/GameItem.jsx
  frontend/src/components/GameSelection/GameRuleSection.jsx
  frontend/src/components/GameSelection/GameSelectionItemContainer.jsx
  frontend/src/components/GameSelection/GameSelectionSection.jsx
  frontend/src/components/GameSelection/GameSelectionSlider.jsx
  frontend/src/components/GameSelection/PageHeader.jsx
  frontend/src/components/GameSelection/Section.jsx
  frontend/src/components/GameSelection/SectionTitle.jsx
  frontend/src/pages/GameSelectionPage.jsx
  frontend/webpack.config.js
Labels: FRONTEND
